/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color:"black";
}
.button{
	-fx-background-radius:4em;
	-fx-background-color:"orange";
	-fx-font-family:"Comic Sans MS";
	-fx-font-size:18;
	-fx-font-weight:bold;
}
#total{
	-fx-background-color:"black";
	-fx-text-inner-color:"white";
}
#tf{
	-fx-background-color:"lightyellow";
	
}
#tf2{
	-fx-background-color:"lightyellow";
	
}
#tf3{
	-fx-background-color:"lightyellow";
	
}
#tf4{
	-fx-background-color:"lightyellow";
	
}
#tf5{
	-fx-background-color:"lightyellow";
	
}
#tf6{
	-fx-background-color:"lightyellow";
	
}
#tf7{
	-fx-background-color:"lightyellow";
	
}
#tf8{
	-fx-background-color:"lightyellow";
	
}
#tf9{
	-fx-background-color:"lightyellow";
	
}